<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>692355271287-d4k5itttd4q10knkddk0hjsjfd828jbs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692355271287-d4k5itttd4q10knkddk0hjsjfd828jbs</string>
	<key>API_KEY</key>
	<string>AIzaSyAYl4JeMC-uMIp7ngtiK8aftV3kKOvmO8U</string>
	<key>GCM_SENDER_ID</key>
	<string>692355271287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.patchworx.PatchworxSocial</string>
	<key>PROJECT_ID</key>
	<string>patchworx-social</string>
	<key>STORAGE_BUCKET</key>
	<string>patchworx-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:692355271287:ios:ffabbf45e4763004</string>
	<key>DATABASE_URL</key>
	<string>https://patchworx-social.firebaseio.com</string>
</dict>
</plist>